.App {
  max-width: 500px;  
  margin: 50px auto;   
  padding: 20px;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 70%;
  border-radius: 5px;
  border: none;
}